$poppins: var(--poppins-default);
$sacramento: var(--sacramento-default);
$color-blue: #42A7C3;
$color-gray-ligth: #D7DBDD;
$color-white-ligth: #DDDDDD;
$color-white: #FDFEFE;
$color-blue-2: #2E86C1;
$color-blue-3: #3498DB;
$color-border: #e5e7eb;
$color-blue-4: #5dade2;
$color-blue-5: #1F73E8;
$color-hover-button: #1F618D;
$color-gray: #797D7F;
$color-tag-background: #F2F3F4;
$color-tag-text: #797D7F;
$color-pending-background: #FADBD8;
$color-pending-text: #CB4335;
$color-completed-background: #D5F5E3;
$color-completed-text: #28B463;
$color-boxshadow: #959DA5CC;
$color-modal-background: #000000CC;
$color-background-task-red: #FFE8F2;
$color-background-task-blue: #D6EAF8;
$color-background-task-orange: #FDEBD0;
$color-background-task-violet: #EAE6FD;
$color-background-task-white: #FBFCFC;